import(dplyr,
       ggplot2,
       glmnet)

export(bestFeatures,
       binUplift,
       binUpliftEnhanced,
       dualPredict,
       dualUplift,
       generateScene,
       generateUplift,
       interPredict,
       interUplift,
       lassoPath,
       qiniArea,
       qiniBarPlot,
       qiniCurve,
       qiniTable,
       splitUplift,
       squareUplift)
